#main {
  width: 100%;
}
#main > :nth-child(1) {
  border: 1px solid black;
}

#main > :nth-child(1) {
  border: 1px solid black;
  font-size: 18px;
  color: black;
}

#sidebar {
  width: 14%;
  position: fixed;
  left: 0;
  top: 50px;
  height: 300px;
  padding-left: 3%;
  padding-right: 3%;
  text-align: center;
}
#sidebar > :nth-child(n) {
  margin-top: 50px;
}
#sidebar > :nth-child(1) {
  border: 1px solid black;
}
a {
  text-decoration: none;
  color: black;
  margin-top: 20px;
}
#contentsMain {
  width: 80%;
  margin-left: 20%;
  /* position: absolute;
  right: 0;
  top: 0; */
}
#contentsMain > div img {
  width: 100%;
}
#contentsMain > div {
  border: 2px solid black;
  margin: auto;

  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-gap: 2%;
}
#contentsMain > div > div {
  margin: auto;
  display: flex;
  /* align-items: center; */
  width: 94%;
  /* justify-content: center; */
  text-align: center;
  border: 1px solid rgb(179, 36, 36);
}
p,
h1 {
  word-break: break-word;
}

p {
  font-size: 22px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#searchDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
#contentsMain > .newsMain {
  display: block;
  background-color: aqua;
}
